<h1> Signup ! </h1>

<form action="/signup" method="post">
	<label>username: </label>
	<input type="text" name="user[username]"><br>
	<label>password: </label>
	<input type="password" name="user[password]"><br>
	<label>email: </label>
	<input type="text" name="user[email]"><br>
	<label>contact: </label>
	<input type="text" name="user[contact]"><br>
	<input type="submit" value="signup!">
</form>