<h2>I-Bilik.com</h2>
<p>We are Friendly</p><br>

<h1>PLease login/signup</h1>

<form action="/login" method="get">
	<input type="submit" value="login">
</form>
<br>

<form action="/signup" method="get">
	<input type="submit" value="signup">
</form>

<%= @message %>